body {
  background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=49213");
}
footer{
  background-color: aquamarine;
  font-family: "Arial Black", serif;
}
header{
  background-color: aqua;
  font-family: "Arial Black", serif;
}
